/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* general styles */
*{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    list-style-type: none;
    color: #fff;
}
:root{
    --primary: #FF5046;
    --secondary: #D90C00;
    --button-color:#68A65B;
}
.boxed{
    max-width: 1440px;
    margin: 0 auto;
}
section{
    padding: 7rem 1.5rem;
}
#sec-1{
    padding-top: 10rem;
}
.text-wrapper{
    width: 80%;
    padding-right: 6.25rem;
}
.text-wrapper.left{
    padding-right: 0;
    padding-left: 6.25rem;
}
.text-wrapper h3{
    font-weight: 300;
    font-size: 3.125rem;
    line-height: 94%;
}
.text-wrapper p{
    font-size: 1.25rem;
    line-height: 100%;
}
.phone{
    margin: -3rem 0;
}
.img-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
/* header styles */
.navbar{
    padding: 1.2rem 4.5rem;
}
.navbar-brand{
    color: var(--primary);
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 0.833em;
    letter-spacing: 0.2em;
}
.navbar-brand:hover{
    color: var(--primary);
}
.nav i{
    color: #fff;
    background-color: var(--primary);
    border-radius: 50%;
    padding: 0.5rem;
    transition: all .5s;
}
.nav i:hover{
    color: var(--primary);
    background-color: #fff;
    box-shadow:
        0 12.5px 10px rgba(0, 0, 0, 0.085),
        0 100px 80px rgba(0, 0, 0, 0.17)
    ;
}
.fab.fa-facebook-f{
    padding: 0.5rem 0.7rem ;
}
.fab.fa-instagram{
    padding: 0.5rem 0.6rem;
}
/* hero styles */
#hero{
    position: relative;
    padding: 4.5rem;
    /* height: 90vh; */
    background-color: var(--primary);
    color: #fff;
}
.hero-header{
    font-weight:300;
    font-size: 3.125rem;
    line-height: 1.2em;
}
.text-field p{
    font-size: 1.25rem;
    line-height: 1.2em;
}
.countdown > p{
    font-size: 3.125rem;
    line-height: 1.2em;
}
.countdown .time{
    font-weight:700;
    font-size: 3.125rem;
    line-height: 0.3em;
    border-right: 2px solid #fff;
}
.countdown .time:last-of-type{
    border: 0;
}
.countdown .time > span{
    font-size: 0.24em;
    line-height: 1.16666em;
}
#form input,
 #form button{
    width: 100%;
    border-radius: 1.875rem;
    padding: .7rem 1rem;
    outline: none;
    border: none;
}
#form input{
    font-size: 1.0625rem;
    line-height: 1.25rem;
    color: #292727;
}
#form button{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #fff;
    background-color: var(--button-color) ;
}
#form .col-3{
    max-width: 100%;
}
/* footer styles */
#footer h2{
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 94%;
    color: var(--primary);
}
#footer h3{
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 94%;
    color: var(--primary);
}
#footer p{
    font-size: 1.25rem;
    line-height: 100%;
    color: var(--primary);
}
#footer img{
    border-radius: 50%;
    box-shadow:
        0 0px 0.3px rgba(0, 0, 0, 0.011),
        0 0px 2px rgba(0, 0, 0, 0.02),
        0 0px 5.9px rgba(0, 0, 0, 0.033),
        0 0px 14.2px rgba(0, 0, 0, 0.061),
        0 0px 22px rgba(0, 0, 0, 0.17)
    ;
}
.footer-ill{
    width: 80%;
}
.coming-soon{
    background-color: var(--primary);
    
}
#footer .coming-soon p{
    font-size: 3.125rem;
    line-height: 94%;
    color: #fff;
}
.footer-nav{
    background-color: #fff;
}
.footer-nav p{
    color: var(--primary);
}
