/* loader styles */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

#loader-container{
    background: #FF5046;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
	margin: 0;
    padding: 0;
}
.loader-text{
    position: relative;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -37%);
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 3.125rem;
    animation: loading 2s forwards;
    /* transform: scale(); */
}
.hidden{
    animation: fade 1s;
    animation-fill-mode: forwards;

}
@keyframes loading{
    0%{
        opacity: 0;
        transform: scale(.5);
        top: 37%;
        left: 50%;
        transform: translate(-50%, -37%);
    }
    100%{
        opacity: 1;
        transform: scale(1);
        top: 37%;
        left: 50%;
        transform: translate(-50%, -37%);
        }
}
@keyframes fade{
    100%{
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}
.loader{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.loader div{
	background: whitesmoke;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	float: left;
	top: 40px;
	position: relative;
	margin-left: 10px;
}

.loader div:nth-child(1),.loader div:nth-child(3),.loader div:nth-child(5){
	animation: animateone 1s linear infinite;
	top: 40px;
}

.loader div:nth-child(2),.loader div:nth-child(4){
	animation: animatetwo 1s linear infinite;
	top: -40px;
}

@keyframes animateone{
	0%{
		top:40px;
		transform:scale(1);
	}
	50%{
		top:-40px;
		transform:scale(0.5);
	}
}

@keyframes animatetwo{
	0%,100%{
		top:-40px;
		transform:scale(0.5);
	}
	50%{
		top:40px;
		transform:scale(1);
	}
}
@media screen and (max-width:480px){
    .loader{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .loader div{
        float: none;
    }
}

